@model IEnumerable<ElYamanyDashboard.Models.Category>

@{
    ViewBag.Title = "Index";
}


 
<h2 style="text-align:center;color:white;border-radius:25px;background:#007bff">التصنيفات</h2>

 
<div class="card">
    <div class="card-header center-block">
        <a href="/Categories/create" class="btn btn-primary" id="crt">
            <i class="fa fa-plus" aria-hidden="true"></i> جديد
        </a>
    </div>
    <div class="card-header">
        <h3 class="card-title"></h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>

                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NameAR)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Enabled)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Image)
                    </th>
                    <th>عرض المنتجات</th>
                    <th>التعديل</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NameAR)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Enabled)
                    </td>
                    <td>
                        <img src="~/Images/CategoryImages/@item.Image" style="width:25%;height:90px" />
                    </td>
                    <td>
                        <a href="~/Products/Index?CategoryId=@item.Id ">المنتجات</a>
                    </td>
                    <td>
                        @Html.ActionLink("تعديل", "Edit", new { id = item.Id }) @*|
            @Html.ActionLink("حذف", "Delete", new { id = item.Id, message = (string)null })*@
                    </td>
                </tr>

                }

            </tbody>

        </table>
    </div>
    <!-- /.card-body -->
</div>
