@model ElYamanyDashboard.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressSpecialMark)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressSpecialMark)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuldingInformation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuldingInformation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SponsorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SponsorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityFrontImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityFrontImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdentityBackImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdentityBackImage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProfileImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProfileImage)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
